package $package;

#foreach ($import in $imports)
import $import;
#end

/**
 * Defines the server-side of the {@link ${name}Service}.
 */
public interface ${name}Provider extends InvocationProvider
{
#foreach ($m in $methods)
#if ($velocityCount > 1)

#end
    /**
     * Handles a {@link ${name}Service#$m.method.name} request.
     */
    public void $m.method.name (ClientObject caller#if ($m.hasArgs(true)), #end$m.getArgList(true))#if ($m.listenerArgs.size() > 0)

        throws InvocationException#end;
#end
}
