#pragma once

#include "presents/Streamable.h"
#include "presents/ObjectInputStream.h"
#include "presents/ObjectOutputStream.h"
#include "presents/streamers/StreamableStreamer.h"

{{#includes}}
#include "{{this}}"
{{/includes}}

{{#namespaces}}namespace {{this}} { {{/namespaces}}

class {{name}} : public {{super}} {
public:
    DECLARE_STREAMABLE();

{{#fields}}
    {{type.type}} {{name}};
{{/fields}}

    virtual void readObject(ObjectInputStream& in);
    virtual void writeObject(ObjectOutputStream& out) const;
};

{{#namespaces}}}{{/namespaces}}
