package {{package}} {

{{#importGroups}}
{{#this}}
import {{this}};
{{/this}}

{{/importGroups}}
/**
 * Marshalls instances of the {{name}}Service_{{listener.listenerName}}Marshaller interface.
 */
public class {{name}}Marshaller_{{listener.listenerName}}Marshaller
    extends InvocationMarshaller_ListenerMarshaller
{
{{#listener.methods}}
    /** The method id used to dispatch <code>{{method.name}}</code> responses. */
    public static const {{code}} :int = {{-index}};

{{/listener.methods}}
    // from InvocationMarshaller_ListenerMarshaller
    override public function dispatchResponse (methodId :int, args :Array) :void
    {
        switch (methodId) {
{{#listener.methods}}
        case {{code}}:
            (listener as {{name}}Service_{{listener.listenerName}}Listener).{{method.name}}(
                {{getASUnwrappedArgListAsListeners}});
            return;

{{/listener.methods}}
        default:
            super.dispatchResponse(methodId, args);
            return;
        }
    }
}
}
