package {{package}};

{{#importGroups}}
{{#this}}
import {{this}};
{{/this}}

{{/importGroups}}
/**
 * Defines the server-side of the {@link {{name}}Service}.
 */
{{generated}}
public interface {{name}}Provider extends InvocationProvider
{
{{#methods}}
{{^-first}}

{{/-first}}
    /**
     * Handles a {@link {{name}}Service#{{method.name}}} request.
     */
    {{typeParams}}void {{method.name}} (ClientObject caller{{#hasArgs}}, {{/hasArgs}}{{getArgList}}){{^listenerArgs.isEmpty}}

        throws InvocationException{{/listenerArgs.isEmpty}};
{{/methods}}
}
