package {{package}} {

{{#imports}}
import {{this}};
{{/imports}}

/**
 * An ActionScript version of the Java {{name}}Service interface.
 */
public interface {{name}}Service extends InvocationService
{
{{#methods}}
{{^-first}}

{{/-first}}
    // from Java interface {{name}}Service
    function {{method.name}} ({{getASArgList}}) :void;
{{/methods}}
}
}
