// GENERATED PREAMBLE START
{{header}}
package {{package}} {

{{#imports}}
import {{this}};
{{/imports}}
// GENERATED PREAMBLE END

// GENERATED CLASSDECL START
public class {{classname}} {{^extends.isEmpty}}extends {{extends}}
{{/extends.isEmpty}}
{{^implements.isEmpty}}{{^extends.isEmpty}}    {{/extends.isEmpty}}implements {{implements}}
{{/implements.isEmpty}}
{
// GENERATED CLASSDECL END

// GENERATED STREAMING START
{{#fields}}
    public var {{name}} :{{simpleType}};

{{/fields}}
{{#dobject}}
{{#fields}}
    public var {{name}}Changed :Signal = new Signal({{simpleType}}, {{simpleType}});
{{#dset}}
    public var {{name}}Added :Signal = new Signal(DSet_Entry);
    public var {{name}}Removed :Signal = new Signal(DSet_Entry);
    public var {{name}}Updated :Signal = new Signal(DSet_Entry, DSet_Entry);
{{/dset}}
{{/fields}}

{{#fields}}
    public static const {{dobjectField}} :String = "{{name}}";

{{/fields}}
{{/dobject}}
    {{#superclassStreamable}}override {{/superclassStreamable}}public function readObject (ins :ObjectInputStream) :void
    {
{{#superclassStreamable}}
        super.readObject(ins);
{{/superclassStreamable}}
{{#fields}}
        {{name}} = ins.{{reader}};
{{/fields}}
    }
{{^dobject}}

    {{#superclassStreamable}}override {{/superclassStreamable}}public function writeObject (out :ObjectOutputStream) :void
    {
{{#superclassStreamable}}
        super.writeObject(out);
{{/superclassStreamable}}
{{#fields}}
        out.{{writer}};
{{/fields}}
    }
{{/dobject}}

{{#dobject}}
    public function {{classname}} ()
    {
        new Signaller(this);
    }
{{/dobject}}
// GENERATED STREAMING END

// GENERATED CLASSFINISH START
}
}
// GENERATED CLASSFINISH END

{{#dobject}}
// GENERATED SIGNALLER START
import org.osflash.signals.Signal;

import com.threerings.presents.dobj.AttributeChangedEvent;
import com.threerings.presents.dobj.AttributeChangeListener;
import com.threerings.presents.dobj.EntryAddedEvent;
import com.threerings.presents.dobj.EntryRemovedEvent;
import com.threerings.presents.dobj.EntryUpdatedEvent;
import com.threerings.presents.dobj.SetListener;

import {{package}}.{{classname}};

class Signaller
    implements AttributeChangeListener, SetListener
{
    public function Signaller (obj :{{classname}})
    {
        _obj = obj;
        _obj.addListener(this);
    }

    public function attributeChanged (event :AttributeChangedEvent) :void
    {
        var signal :Signal;
        switch (event.getName()) {
{{#fields}}
            case "{{name}}":
                signal = _obj.{{name}}Changed;
                break;
{{/fields}}
            default:
                return;
        }
        signal.dispatch(event.getValue(), event.getOldValue());
    }

    public function entryAdded (event :EntryAddedEvent) :void
    {
        var signal :Signal;
        switch (event.getName()) {
{{#fields}}{{#dset}}
            case "{{name}}":
                signal = _obj.{{name}}Added;
                break;
{{/dset}}{{/fields}}
            default:
                return;
        }
        signal.dispatch(event.getEntry());
    }

    public function entryRemoved (event :EntryRemovedEvent) :void
    {
        var signal :Signal;
        switch (event.getName()) {
{{#fields}}{{#dset}}
            case "{{name}}":
                signal = _obj.{{name}}Removed;
                break;
{{/dset}}{{/fields}}
            default:
                return;
        }
        signal.dispatch(event.getOldEntry());
    }

    public function entryUpdated (event :EntryUpdatedEvent) :void
    {
        var signal :Signal;
        switch (event.getName()) {
{{#fields}}{{#dset}}
            case "{{name}}":
                signal = _obj.{{name}}Updated;
                break;
{{/dset}}{{/fields}}
            default:
                return;
        }
        signal.dispatch(event.getEntry(), event.getOldEntry());
    }

    protected var _obj :{{classname}};
}
// GENERATED SIGNALLER END
{{/dobject}}
