// GENERATED PREAMBLE START
{{header}}
package {{package}} {

{{#imports}}
import {{this}};
{{/imports}}
// GENERATED PREAMBLE END

// GENERATED CLASSDECL START
public class {{classname}} {{^extends.isEmpty}}extends {{extends}}
{{/extends.isEmpty}}
{{^implements.isEmpty}}{{^extends.isEmpty}}    {{/extends.isEmpty}}implements {{implements}}
{{/implements.isEmpty}}
{
// GENERATED CLASSDECL END

// GENERATED STREAMING START
{{#fields}}
    public var {{name}} :{{simpleType}};
{{/fields}}

    {{#superclassStreamable}}override {{/superclassStreamable}}public function readObject (ins :ObjectInputStream) :void
    {
{{#superclassStreamable}}
        super.readObject(ins);
{{/superclassStreamable}}
{{#fields}}
        {{name}} = ins.{{reader}};
{{/fields}}
    }

    {{#superclassStreamable}}override {{/superclassStreamable}}public function writeObject (out :ObjectOutputStream) :void
    {
{{#superclassStreamable}}
        super.writeObject(out);
{{/superclassStreamable}}
{{#fields}}
        out.{{writer}};
{{/fields}}
    }
// GENERATED STREAMING END

}
}
