//
// [% idstr %]

package [% package %];

[% FOREACH import = imports -%]
import [% import %];
[% END -%]

/**
 * Used to issue notifications to a {@link [% name %]Receiver} instance on a
 * client.
 */
public class [% name %]Sender extends InvocationSender
{
[% FOREACH m = methods -%]
    /**
     * Issues a notification that will result in a call to {@link
     * [% name %]Receiver#[% m.mname %]} on a client.
     */
    public static void [% m.sname %] (
        ClientObject target[% IF m.arglist %], [% END %][% m.arglist %])
    {
        sendNotification(
            target, [% name %]Decoder.RECEIVER_CODE, [% name %]Decoder.[% m.mcode %],
            new Object[] { [% m.wrapped_args %] });
    }

[% END -%]
}
