package {{package}};

{{#importGroups}}
{{#this}}
import {{this}};
{{/this}}

{{/importGroups}}
/**
 * Used to issue notifications to a {@link {{name}}Receiver} instance on a
 * client.
 */
public class {{name}}Sender extends InvocationSender
{
{{#methods}}
    /**
     * Issues a notification that will result in a call to {@link
     * {{name}}Receiver#{{method.name}}} on a client.
     */
    public static void {{senderMethodName}} (
        ClientObject target{{#hasArgs}}, {{/hasArgs}}{{getArgList}})
    {
        sendNotification(
            target, {{name}}Decoder.RECEIVER_CODE, {{name}}Decoder.{{code}},
            new Object[] { {{getWrappedArgList}} }{{transport}});
    }

{{/methods}}
}
