package {{package}} {

{{#importGroups}}
{{#this}}
import {{this}};
{{/this}}

{{/importGroups}}
/**
 * An ActionScript version of the Java {{name}}Service_{{listener.listenerName}}Listener interface.
 */
public interface {{name}}Service_{{listener.listenerName}}Listener
    extends InvocationService_InvocationListener
{
{{#listener.methods}}
{{^-first}}

{{/-first}}
    // from Java {{name}}Service_{{listener.listenerName}}Listener
    function {{method.name}} ({{getASArgList}}) :void
{{/listener.methods}}
}
}
